<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="无虑"/>
    <meta name="description" content="无虑"/>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <!--
    对所有的标签有用
    判断 循环
    v-bind:key 是用来告诉vue 不复用 添加一个唯一的标示
    -->
    <div v-if="name == '1'">
        <a href="">登陆</a>
        用户名: <input :key="1" type="text">
    </div>
    <div v-else-if="name == '2'">
        密码: <input :key="2" type="text">
    </div>
    <div v-else>都不是</div>

    <!--
    只有 true false   是用过display进行显示隐藏的
    -->
    <div v-show="show">这里是演示v-show</div>

    <input type="text" v-model="name">
    <input type="checkbox" v-model="show">
</div>
<script>
    new Vue({
      el: '#app',
      data: {
        show: true,
        name: '1'
      }
    })
</script>
</body>
</html>