$link-color: blue;
$link-color: green !default;
a {
  color: $link-color;
}

@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@mixin link-colors($normal, $hover, $visited) {
  color: $normal;
  &:hover { color: $hover !important; }
  &:visited { color: $visited; }
}
