<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="无虑"/>
    <meta name="description" content="无虑"/>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    数量<input v-model="inp" type="number">
    单价<input v-model="inp1" type="text">
    <p>总金额{{ fn }}</p>
</div>
<script>
    new Vue({
      el: '#app',
      data: {
        inp: '',
        inp1: ''
      },
      /*methods: {
        fn1 () {
          return this.inp * this.inp1
        }
      },*/
      computed: {
        // 实时计算  当数据变化的时候执行  ,
        fn () {
          return this.inp + this.inp1
        }
      }
    })
</script>
</body>
</html>